/* Style for nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

/* common style */
body {
    font-family: 'Open Sans', sans-serif;
}

.web_title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.button_pri {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.text_primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

.header_color {

    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, 20px 0px;
    
   
    
}


.banner {
    padding: 30px 30px 0px 205px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile_pic {
    width: 584px;
    height: 676px;
    margin-right: 20px;
}

.banner_hi {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner_mary {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner_discription {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.banner_content {
    max-width: 585px;

}

.button_pri_c {
    background-color: #FFF8F3;;
    width: 150px;
    height: 60px;
    text-align: center;
    color: #FD6E0A;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 30px;
}
.button_pri_d{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
    margin-top: 30px;
}